app-frame {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  padding: 0;
  margin: 0;

  box-sizing: inherit;
}

app-frame[theme=light] {
  background: #fafafa;
  color: rgba(0,0,0,.87);
}

app-frame main {
  display: flex;
  flex: 1 0 auto;
  transition: padding .3s cubic-bezier(.25,.8,.5,1);
}
