{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 5%", "last 2 versions", "not ie <= 8"]
      }
    }]
  ],
  "plugins": ["transform-runtime", "dynamic-import"],
  "env": {
    "test": {
      "presets": ["env"],
      "plugins": ["istanbul", "dynamic-import"]
    }
  }
}
