{
  "root": true,
  "extends": "airbnb-base",
  "plugins": ["html"],
  // add your custom rules here
  "rules": {
    "class-methods-use-this": "off",
    "no-param-reassign": ["error", { "props": false }]
  }
}
