<link rel="import" href="../../app/frame/element.html">
<link rel="import" href="../../grid/container/element.html">
<link rel="import" href="./form.html">

<template id="login-view">
  <style>
    * {
      background-repeat: no-repeat;
      padding: 0;
      margin: 0;
    }

    *, :after, :before {
      box-sizing: inherit;
    }

    main {
      display: flex;
      flex: 1 0 auto;
      transition: padding .3s cubic-bezier(.25,.8,.5,1);
    }
  </style>
  <app-frame theme="light">
    <main>
      <grid-container fluid>
        <login-form next="/"></login-form>
      </grid-container>
    </main>
  </app-frame>
</template>

<script>
  (function () {
    /* globals document, customElements, Chefdoeurve */
    const importDoc = document.currentScript.ownerDocument;

    class LoginView extends Chefdoeurve.CustomElement {
      static get observedAttributes() { return ['next', 'error']; }

      render() {
        const template = importDoc.querySelector('template#login-view');
        const node = importDoc.importNode(template.content, true);

        const form = node.querySelector('login-form');
        ['next', 'error'].forEach((attr) => {
          if (this.hasAttribute(attr)) {
            form.setAttribute(attr, this.getAttribute(attr));
          }
        });

        this.setNode(node);
      }
    }

    customElements.define('login-view', LoginView);
  }());
</script>
