<link rel="import" href="../../grid/row/element.html">
<link rel="import" href="../../grid/col/element.html">
<link rel="import" href="../../component/card/element.html">
<link rel="import" href="../../component/card/text.html">
<link rel="import" href="../../component/card/action.html">
<link rel="import" href="../../component/toolbar/element.html">
<link rel="import" href="../../component/input/element.html">
<link rel="import" href="../../component/btn/element.html">

<template id="login-form">
  <style>
    * {
      background-repeat: no-repeat;
      padding: 0;
      margin: 0;
    }

    *, :after, :before {
      box-sizing: inherit;
    }

    component-card {
      height: auto;
    }

    [data-role=error] {
      color: #f44336!important;
    }
  </style>
  <form method="post" action="/login">
    <grid-row wrap>
      <grid-col offset-md="3" md="6" xs="12">
        <component-card>
          <component-toolbar dark color="primary">
            <component-toolbar-title>Login</component-toolbar-title>
          </component-toolbar>
          <component-card-text>
            <span data-role="error"></span>
            <component-input
              color="primary"
              label="Username"
              name="username"
              required
              autofocus
            ></component-input>
            <component-input
              type="password"
              color="primary"
              label="Password"
              name="password"
              required
            ></component-input>
          </component-card-text>
          <component-card-action>
            <!--<component-btn type="submit" color="primary" raised flat>Login</component-btn>-->
          </component-card-action>
        </component-card>
      </grid-col>
    </grid-row>
    <input type="hidden" name="next" value="/">
    <input type="hidden" name="username">
    <input type="hidden" name="password">
  </form>
</template>

<script>
  (function () {
    /* globals document, customElements, Chefdoeurve */
    const importDoc = document.currentScript.ownerDocument;

    const errorMaps = {
      not_match: 'Seems like some mistake in the password',
      not_found: 'Seems like some mistake in the username',
    };

    class LoginForm extends Chefdoeurve.CustomElement {
      static get observedAttributes() { return ['next', 'error']; }

      constructor() {
        super();
        this.username = '';
        this.password = '';
      }

      render() {
        const template = importDoc.querySelector('template#login-form');
        const node = importDoc.importNode(template.content, true);
        node.querySelector('input[name=next]').setAttribute('value', this.getAttribute('next'));

        if (this.hasAttribute('error')) {
          const error = this.getAttribute('error');
          let message = 'Seems like some mistake during login';
          if (error in errorMaps) {
            message = errorMaps[error];
          }

          node.querySelector('span[data-role=error]').textContent = message;
        }

        const names = ['username', 'password'];

        const fields = names.map(name => node.querySelector(`component-input[name=${name}]`));

        names.forEach((name) => {
          const input = node.querySelector(`input[name=${name}]`);
          node.querySelector(`component-input[name=${name}]`).addEventListener('input', (e) => {
            input.value = e.target.value;
          });
        });

        Array.prototype.forEach.call(node.querySelectorAll('component-input,component-btn'), (ele) => {
          ele.addEventListener('submit', () => {
            const validate = fields.reduce((result, e) => result && e.valid, true);
            if (validate) {
              this.node.querySelector('form').submit();
            }
          });
        });

        this.setNode(node);
      }
    }

    customElements.define('login-form', LoginForm);
  }());
</script>

