<link rel="import" href="../../base/base.html">

<template id="component-card-action">
  <style>
    :host {
      align-items: center;
      display: flex;
    }
  </style>

  <slot></slot>
</template>

<script>
  (function () {
    /* globals document, customElements, Chefdoeurve */
    const importDoc = document.currentScript.ownerDocument;

    class ComponentCardAction extends Chefdoeurve.CustomElement {
      static get observedAttributes() { return []; }

      render() {
        const template = importDoc.querySelector('template#component-card-action');
        const node = importDoc.importNode(template.content, true);
        this.setNode(node);
      }

      getStyles() {
        return {
          padding: '8px 4px',
        };
      }
    }

    customElements.define('component-card-action', ComponentCardAction);
  }());
</script>

