<link href="../../base/base.html">

<template id="component-card-text">
  <style>
    :host {
      padding: 16px;
      width: 100%;
    }
  </style>

  <slot></slot>
</template>

<script>
  (function () {
    /* globals document, customElements, Chefdoeurve */
    const importDoc = document.currentScript.ownerDocument;

    class ComponentCardText extends Chefdoeurve.CustomElement {
      static get observedAttributes() { return []; }

      render() {
        const template = importDoc.querySelector('template#component-card-text');
        const node = importDoc.importNode(template.content, true);
        this.setNode(node);
      }
    }

    customElements.define('component-card-text', ComponentCardText);
  }());
</script>

