.container.grid-list-xl .layout .flex {
  padding: 12px;
}

.container.grid-list-sm .layout .flex {
  padding: 2px;
}

.container.grid-list-xs .layout .flex {
  padding: 1px;
}

.container.grid-list-md .layout .flex {
  padding: 4px;
}

.container.grid-list-lg .layout .flex {
  padding: 8px;
}

.layout.column > .flex {
  max-width: 100%;
}

.flex, .child-flex > * {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
