<link rel="import" href="../../base/base.html">

<script>
  (function () {
    /* globals customElements, Chefdoeurve, document */

    const { baseURI } = document.currentScript;

    class ComponentBtn extends Chefdoeurve.VirtualElement {
      static get observedAttributes() {
        return [
          'type',
        ];
      }

      render(h, children) {
        return h(
          'button',
          h('div', {
            'data-role': 'content',
          }, children),
        );
      }

      mounted() {
        this.importStyleSheet(baseURI, './style.css');
      }
    }

    customElements.define('component-btn', ComponentBtn, { extends: 'button' });
  }());
</script>

